<div id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Portfolio</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, possimus! Fugit commodi dolor assumenda ipsum recusandae provident quo accusantium eos iusto, unde autem praesentium libero! Odit id reprehenderit sit sed!</p>
        </div>
        <div class="col-4">
          <img src="https://images.pexels.com/photos/17938493/pexels-photo-17938493/free-photo-of-ciudad-panorama-urbano-rascacielos-viaje.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid">
          <h4>Project Name</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, possimus! Fugit commodi dolor assumenda ipsum recusandae provident quo accusantium eos iusto, unde autem praesentium libero! Odit id reprehenderit sit sed!</p>
        </div>
        <div class="col-4">
          <img src="https://images.pexels.com/photos/17938493/pexels-photo-17938493/free-photo-of-ciudad-panorama-urbano-rascacielos-viaje.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class ="img-fluid">
          <h4>Project Name</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, possimus! Fugit commodi dolor assumenda ipsum recusandae provident quo accusantium eos iusto, unde autem praesentium libero! Odit id reprehenderit sit sed!</p>
        </div>
        <div class="col-4">
          <img src="https://images.pexels.com/photos/17938493/pexels-photo-17938493/free-photo-of-ciudad-panorama-urbano-rascacielos-viaje.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid">
          <h4>Project Name</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, possimus! Fugit commodi dolor assumenda ipsum recusandae provident quo accusantium eos iusto, unde autem praesentium libero! Odit id reprehenderit sit sed!</p>
        </div>
    </div>
    </div>
  </div>